name: Pull Request on master branch

# only trigger on pull request closed events
on:
  pull_request:
    branches:
      - master

jobs:
  master_pr:
    runs-on: ubuntu-latest
    steps:
      - run: echo PR ${{ github.event.number }} has been opened on master branch
      - run: echo 'The branch name is' ${GITHUB_HEAD_REF}
