name: Pull Request on master branch

# only trigger on pull request closed events
on:
  pull_request:
    branches:
      - master

jobs:
  master_pr:
    name: 'PR on Master'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout the code'
        uses: actions/checkout@v2

      - name: 'Use kceb/pull-request-url-action@v1'
        uses: kceb/pull-request-url-action@v1
        id: pr-url

      - name: 'Display event informations'
        run: |
          echo "PR ${{ github.event.number }} has been opened on master branch"
          echo "The branch name is ${GITHUB_HEAD_REF}"
          echo "This PR is opened by ${{ github.event.pull_request.user.login }}"
          echo "The PR url is ${{ steps.pr-url.outputs.url }}"
